@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
    padding: 0;
    margin: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    left: auto;
    right: auto;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

.main {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header {
    width: 100%;
    background-color: #66A760;
    text-align: center;
    height: 150px;
}

.header-title, .header-desc {
    font-family: Exo;
    color: #FFFFFF;
}

.header-title {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

.header-desc {
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#board {}

.menu {
    width: 500px;
    background-color: #66A760;
    text-align: center;
    border: 5px solid #000;
    transform: translateX(-5px);
    position: relative;
}

.menu h1 {
    font-family: Exo;
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px;
}

.option {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.option a {
    font-family: Exo;
    color: #FFFFFF;
    font-size: 23px;
}

.switch {
    position: relative;
    width: 54px;
    height: 30px;
    vertical-align: middle;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(23px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.reset button {
    background-color: #ccc;
    border: none;
    color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-75px);
    cursor: pointer;
}

.github {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 100px;
}