@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Exo;
    color: #FFFFFF;
    font-size: 20px;
}

@keyframes slidein {
    from {
        bottom: -1D00px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

body {
    background-color: #FFFFFF;
}

.bold-text {
    text-transform: uppercase;
    font-weight: bold;
}

.header {
    width: 100%;
    background-color: #66A760;
    text-align: center;
}

.header-title {
    font-size: 60px;
    padding-top: 5px;
}

.header-desc {
    text-decoration: none;
    padding: 10px;
    display: block;
}

.content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    display: none;
    animation-name: slidein;
    animation-duration: 1s;
    position: relative;
}

.play-area {
    display: flex;
    justify-content: center;
}

.menu {
    width: 515px;
    text-align: center;
    border: 5px solid #000;
    background-color: #66A760;
    border-left: none;
}

.menu h1 {
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px;
}

.option {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.option a {
    font-size: 23px;
}

.switch {
    position: relative;
    width: 54px;
    height: 30px;
    vertical-align: middle;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: 0.4s;
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.reset button {
    background-color: #ccc;
    border: none;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset {
    padding: 10px;
}

.github {
    position: fixed;
    bottom: 20px;
    right: 0px;
    text-align: center;
}

.github-image {
    height: 100px;
}

@media only screen and (max-width: 1100px) {
    .play-area {
        flex-direction: column;
    }

    .menu {
        border-left: 5px solid #000;
        border-top: none;
    }
}

@media only screen and (max-width: 900px) {
    .content {
        margin-bottom: 10px;
    }

    .github {
        position: static;
    }

    .github-image {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 550px) {
    .content {
        display: none;
    }
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(23px);
}